.advisory {
    background-color:#000;
    color:#fff;
    text-transform:uppercase;
}
.advisory span {
    display:block;
    padding:0.3em 1em;
}

.address{
    background: #eaedef;
    margin: 0.75em 0 1.5em 0;
    padding: 1em 0 1em 2em;
    min-width: 35%;
}

.contact {
    margin: 0.75em 0;
    min-width: 60%;
}

.highlight-answer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.1em 2em 0.2em 2em;
    margin: 0 -1em 1em -1em;
}

.highlight-answer p, .highlighted-event p {
line-height: 2.3em;
color: #fff;
}

.highlight-answer p em, .highlighted-event p em {
font-size: 2.45em;
font-style: normal;
font-weight: 700;
display: block;
margin-bottom: 0.5em;
color: #fff;
}

.application-notice, .form-download {
    background-color: #d5e8f3;
    margin: 1em -1em 1.5em -1em;
    padding: 0.25em 1em 0.25em 1em;
}

.help-notice {
    background: url(icons/icon-important.png) no-repeat scroll 98% 1em #eaedef;
}

.help-notice p {
    padding-right: 4em;
}

/* Info */
.info-notice {
background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-information-f78d8c1b10b141b5a9a8c7a40220c4a4.png) no-repeat scroll 98% 1em #d5e8f3;
}

/* Summary */
.summary {
    margin: 0 0 2em 0;
    padding: 0;
    color: #0b0c0c;
}

.summary p {
    font-family: "nta","GDS-Regular",sans-serif;
    font-size: 1.4em;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding:1em 0 1em 0.5em;
    border-left:solid 10px #eaedef;
}


/* Downloads */
.form-download{
  background: url(icons/icon-file-download.png) no-repeat scroll 98% 1em #D5E8F3;
}

.form-download p {
  /*margin: 0 0;*/
  padding-right:3em;
}
.form-download a {
  color: #000;
  display: block;
}

/* External links */
a[rel="external"]::after, .external-link::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 12px;
    margin-right: 0.2em;
    margin-left: -0.2em;
    background: url(icons/external-link.png) no-repeat;
}

/* Example */
.example {
    background: #eaedef;
    margin: 0.75em -1em;
    padding: 0.5em 1em;
}

.example strong {
    display: block;
    margin-bottom:1em;
}

/* Steps */
ol.steps {
    padding-left: 0;
    margin-left: 0;
}


ol.steps > li:nth-child(1) {
    background-image: url(icons/icon-step-1.png);
}

ol.steps > li:nth-child(2) {
    background-image: url(icons/icon-step-2.png);
}

ol.steps > li:nth-child(3) {
    background-image: url(icons/icon-step-3.png);
}
ol.steps > li:nth-child(4) {
    background-image: url(icons/icon-step-4.png);
}
ol.steps > li:nth-child(5) {
    background-image: url(icons/icon-step-5.png);
}
ol.steps > li:nth-child(6) {
    background-image: url(icons/icon-step-6.png);
}
ol.steps > li:nth-child(7) {
    background-image: url(icons/icon-step-7.png);
}
ol.steps > li:nth-child(8) {
    background-image: url(icons/icon-step-8.png);
}
ol.steps > li:nth-child(9) {
    background-image: url(icons/icon-step-9.png);
}
ol.steps > li:nth-child(10) {
    background-image: url(icons/icon-step-10.png);
}
ol.steps > li:nth-child(11) {
    background-image: url(icons/icon-step-11.png);
}
ol.steps > li:nth-child(12) {
    background-image: url(icons/icon-step-12.png);
}
ol.steps > li:nth-child(13) {
    background-image: url(icons/icon-step-13.png);
}
ol.steps > li:nth-child(14) {
    background-image: url(icons/icon-step-14.png);
}
ol.steps > li {
    background-position: 0 0.87em;
    background-repeat: no-repeat;
    list-style-type: none;
    margin-left: 0;
    padding: 0.15em 0 0.15em 2.2em;
}

/* Jargon */
abbr[title] {
    cursor: help;
}
